/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media (max-width: 1575px) {
    .flexbox {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .logos {
        margin-left: auto;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        gap: 20px;
    }
    .flexboxes {
        margin-left: auto;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
  }
  @media (max-width: 1310px) {
    .flex1, .flex2, .flex3, .flex4 {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 0;
    }
    .flexboxes {
        margin-left: 0;
        gap: 0;
    }
    .contact {
        gap: 0;
    }
  }